@import "tailwindcss";
@source "../templates/**/*.html";

@custom-variant dark {
  &:where(.dark, .dark *, [data-theme="dark"], [data-theme="dark"] *) {
    @slot;
  }

  @media (prefers-color-scheme: dark) {
    &:not([data-theme="light"], [data-theme="light"] *) {
      @slot;
    }
  }
}

@theme {
  --font-sans: "Aptos", "Trebuchet MS", sans-serif;
  --color-brand-100: #ffd9d9;
  --color-brand-300: #ff7676;
  --color-brand-400: #f14848;
  --color-brand-500: #dd2525;
  --color-brand-600: #aa0000;
  --color-brand-700: #770000;
  --color-brand-800: #560000;
}